body{

    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font: size 100px;
    
}

.orange-color{
    color: orange;
}
.flexible-containar{
    display: flex;
    margin-bottom:100px ;
}
.half-width{
    width: 100%;
    image width: 80%;
    padding left: %;
    
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px;
    color: white;
    font-weight:700 ;
    border-radius: 7px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat:no-repeat ;
    background-position: left;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    padding-right: 10px;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10%;
}
#web-dev{
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 8px solid;



}
#stack-web{
    border-image: linear-gradient(orange, gray);
    border-left: 8px solid;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}